<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Remove the debug-only DevInstallReceiver from release builds. -->
        <receiver
            android:name=".dev.DevInstallReceiver"
            tools:node="remove" />
    </application>
</manifest>